<div class="heromenu">
  <div class="maindiv">
    <div class="div-block-7">
      <div class="div-block-5">
        <div class="text">Allegro</div>
        <div class="textdash">-</div>
        <div class="text">Dziecko</div>
        <div class="textdash">-</div>
        <div class="text">Zabawki</div>
        <div class="textdash">-</div>
        <div class="text">Maskotki</div>
        <div class="textdash">-</div>
        <div class="textorange">Allegro</div>
      </div>
      <div class="div-block-4">
        <div>
          <img
            src="../../assets/images/Image-2019-04-13-at-4.11.33-am.png"
            width="400"
            srcset="
              ../../assets/images/Image-2019-04-13-at-4.11.33-am.png 500w,
              ../../assets/images/Image-2019-04-13-at-4.11.33-am.png 578w
            "
            sizes="(max-width: 479px) 12px, (max-width: 767px) 19vw, 36vw"
            alt=""
            class="image-big"
          />
          <div class="div-block-9">
            <img
              src="../../assets/images/Image-2019-04-13-at-4.11.33-am.png"
              width="100"
              srcset="
                ../../assets/images/Image-2019-04-13-at-4.11.33-am.png 500w,
                ../../assets/images/Image-2019-04-13-at-4.11.33-am.png 578w
              "
              sizes="(max-width: 479px) 12px, (max-width: 767px) 13vw, 100px"
              alt=""
              class="imagesmall"
            /><img
              src="../../assets/images/Image-2019-04-13-at-4.11.33-am.png"
              width="100"
              srcset="
                ../../assets/images/Image-2019-04-13-at-4.11.33-am.png 500w,
                ../../assets/images/Image-2019-04-13-at-4.11.33-am.png 578w
              "
              sizes="(max-width: 479px) 12px, (max-width: 767px) 13vw, 100px"
              alt=""
              class="imagesmall"
            /><img
              src="../../assets/images/Image-2019-04-13-at-4.11.33-am.png"
              width="100"
              srcset="
                ../../assets/images/Image-2019-04-13-at-4.11.33-am.png 500w,
                ../../assets/images/Image-2019-04-13-at-4.11.33-am.png 578w
              "
              sizes="(max-width: 479px) 12px, (max-width: 767px) 13vw, 100px"
              alt=""
              class="imagesmall"
            />
          </div>
        </div>
        <div class="objectdiv">
          <div class="observediv">
            <div>
              <img src="../../assets/images/star-icon.png" width="30" alt="" />
            </div>
            <div class="obserwujtxt">OBSERWUJ</div>
          </div>
          <h1 class="heading-2">Niezaprzeczalnie słodka Alpaka</h1>
          <div class="divbottom">
            <div class="graytxt">od</div>
            <div class="usertxt">Admin420</div>
          </div>
          <div class="starsdiv">
            <div class="text-block-2">5,00</div>
            <img
              src="../../assets/images/star-icon.png"
              width="25"
              alt=""
              class="image"
            /><img
              src="../../assets/images/star-icon.png"
              width="25"
              alt=""
              class="image"
            /><img
              src="../../assets/images/star-icon.png"
              width="25"
              alt=""
              class="image"
            /><img
              src="../../assets/images/star-icon.png"
              width="25"
              alt=""
              class="image"
            /><img
              src="../../assets/images/star-icon.png"
              width="25"
              alt=""
              class="image"
            />
            <div class="usertxt">4 oceny produktu</div>
          </div>
          <!-- <div class="pricediv">
            <h1 class="heading-2">89,00 zł</h1>
          </div>
          <div class="infodiv">
            <div class="infosmalldiv">
              <div class="bluetxt">99,6%</div>
              <div class="graytxt">poleca sprzedawce</div>
            </div>
            <div class="infosmalldiv">
              <div class="bluetxt">natychmiast</div>
              <div class="graytxt">poleca sprzedawce</div>
            </div>
            <div class="infosmalldiv">
              <div class="bluetxt">10 zł</div>
              <div class="graytxt">najtańsza dostawa</div>
            </div>
            <div class="infosmalldiv">
              <div class="bluetxt">10 dni</div>
              <div class="graytxt">na odstąpienie od umowy</div>
            </div>
          </div> -->

          <div class="infodivc">
            <div class="graytxt">Liczba sztuk:</div>
            <div class="div-block-10">
              <a href="#" class="button w-button">+</a>
              <div class="form-block w-form">
                <form
                  id="email-form"
                  name="email-form"
                  data-name="Email Form"
                  class="form"
                >
                  <input
                    type="email"
                    class="field w-input"
                    maxlength="256"
                    name="email"
                    data-name="Email"
                    placeholder="1"
                    id="email"
                    required=""
                  />
                </form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>
                    Oops! Something went wrong while submitting the form.
                  </div>
                </div>
              </div>
              <a href="#" class="button w-button">-</a>
              <div class="div-block-11">
                <div class="graytxt">Z 10 sztuk</div>
              </div>
            </div>
          </div>
          <a routerLink="/instruction" class="usertxt href"
            >Obawiasz się uszkodzonej lub niedopasowanej paczki? Sprawdź, jak
            zwrócić!</a
          >
          <div class="form-wrapper">
            <form #form="ngForm" (ngSubmit)="submitForm(form)">
              <label>Wybierz kategorię</label>
              <label class="forRadio"
                ><input
                  type="radio"
                  name="category"
                  value="Elektronika"
                  ngModel
                />Elektronika</label
              >
              <label class="forRadio"
                ><input
                  type="radio"
                  name="category"
                  value="Uroda"
                  ngModel
                />Uroda</label
              >
              <label for="text-input">Adres</label>
              <input
                #input
                id="text-input"
                type="text"
                class="w-input"
                name="address"
                ngModel
              />

              <label for="number-input">Cena</label>
              <input
                id="number-input"
                type="number"
                class="w-input"
                name="price"
                ngModel
              />

              <button class="buttonbig w-button button-colored" type="submit">
                KUP TERAZ
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
