<div
  data-collapse="medium"
  data-animation="default"
  data-duration="400"
  class="navbar w-nav"
>
  <div class="container-2 w-container">
    <a href="#" class="w-nav-brand">
      <div class="text-block">allegro</div>
    </a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <img
        src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg"
        width="50"
        height="50"
        alt=""
        class="image-2"
      />
    </nav>
    <div class="w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
</div>
