<div class="section">
  <div>
    <h1 class="heading-2">Dokonywanie zwrotów</h1>
  </div>
  <div class="partsdiv">
    <div class="part">
      <h1 class="headingstep">Krok 1</h1>

      <!-- <img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" alt="" class="image"> -->
      <i class="fas fa-thumbs-down fa-7x" style="color:#ff5a00"></i>
      <p class="paragraph">
        Jeśli przedmiot, który zamówiłeś nie spełnia Twoich oczekiwań lub jest
        uszkodzony, w większości przypadków masz prawo do jego zwrotu w terminie
        14 dni od momentu odebrania towaru.
      </p>
      <div class="bluetextblock">Przeczytaj szczegóły zwrotu towaru.</div>
    </div>
    <div class="part">
      <h1 class="headingstep">Krok 2</h1>

      <!-- <img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" alt="" class="image"> -->
      <i class="fas fa-question fa-7x" style="color:#ff5a00"></i>
      <div class="txt">
        1. Przejdź do szczegółów zakupów produktu, który chcesz zwrócić.
      </div>
      <div class="txt">2. Wybierz ZWRÓĆ CZĘŚĆ LUB CAŁOŚĆ ZAKUPU.</div>
      <div class="txt">
        3. Wypełnij formularz, a następnie wybierz ODSTĘPUJĘ OD UMOWY.<br />Wygenerowanie
        zostanie numer do paczkomatu.
      </div>
    </div>
    <div class="part">
      <h1 class="headingstep">Krok 3</h1>

      <!-- <img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" alt="" class="image"> -->
      <i class="fas fa-box-open fa-7x" style="color:#ff5a00"></i>
      <p class="paragraph">
        Następnie zapakowaną paczkę ze zwracanym towarem można zostawić w
        paczkomacie po uprzednim wpisaniu wygenerowanego wcześniej numeru.<br />
      </p>
      <a routerLink="/homepage" class="buttonbig w-button"
        >PRZEJDŹ DO ZAKUPÓW</a
      >
    </div>
  </div>
</div>
