<div class="section">
  <div class="hero">
    <div class="centerdiv">
      <div class="leftdiv">
        <div
          class="div-block-3 back-to-recommended"
          (click)="backToRecommended()"
          *ngIf="title !== 'Rekomendowany punkt odbioru'"
        >
          <img
            src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg"
            width="25"
            alt=""
          /><a class="link">Wróć do rekomendowanych</a>
        </div>
        <h1 class="heading">{{ title }}</h1>
        <div class="infodisplaydiv">
          <div class="infodiv">
            <i class="fas fa-map-marker-alt"></i>
            <div class="options">{{ address }}</div>
          </div>
          <div class="infodiv">
            <img
              src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg"
              width="50"
              height="50"
              alt=""
            />
            <div class="options">{{ time }}</div>
          </div>
          <!-- <div class="infodiv">
            <img
              src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg"
              width="50"
              height="50"
              alt=""
            />
            <div class="options" #price></div>
          </div> -->
          <div class="infodivbottom">
            <img
              src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg"
              width="50"
              height="50"
              alt=""
            />
            <div class="options">{{ price }}</div>
          </div>
        </div>
        <div class="wrapperdiv">
          <button
            data-w-id="9e696bd3-e226-53ec-2368-e699709f1a28"
            class="button w-button"
            (click)="slideBottomDiv()"
          >
            Kiedy mogę odebrać paczkę?
          </button>
          <div
            data-w-id="c2d1e5e9-387b-06c7-8c29-b5867c71a3fb"
            style="height:0PX"
            class="contentdiv slide-bottom"
            #slideBottom
          >
            <p class="paragraph">Pon<br />10-23<br /></p>
            <p class="paragraph">Wt<br />10-23<br /></p>
            <p class="paragraph">Śr<br />13-14<br /></p>
            <p class="paragraph">Czw<br />10-23<br /></p>
            <p class="paragraph">P<br />‍10-23<br /></p>
            <p class="paragraph">S<br />‍‍10-23<br /></p>
            <p class="paragraph">N<br />‍10-23<br /></p>
          </div>
        </div>
      </div>
      <div class="rightdiv">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
          <ng-container *ngIf="places !== null">
            <agm-marker
              *ngFor="let data of places"
              [latitude]="data.szerokosc"
              [longitude]="data.dlugosc"
              [agmFitBounds]="false"
              (markerClick)="markerClicked(data)"
              [iconUrl]="
                data.typ === 'main'
                  ? '../../assets/main.svg'
                  : data === checked
                  ? '../../assets/checked.svg'
                  : '../../assets/icon.svg'
              "
              [label]="
                data === recommended
                  ? {
                      text: 'rekomendowany',
                      fontWeight: 'bold',
                      fontSize: '15px'
                    }
                  : {}
              "
            >
            </agm-marker
          ></ng-container>
        </agm-map>
      </div>
    </div>
  </div>
</div>
