<div class="section">
  <div class="hero">
    <div class="centerdivk">
      <div class="leftdivk">
        <div class="div-block-3">
          <i class="fas fa-arrow-left" style="color:#00a790"></i>
          <a href="#" class="link">Wróć do rekomendowanych</a>
        </div>
        <h1 class="heading">Rekomendowany kurier</h1>
        <div class="infodisplaydiv">
          <div class="infodiv">
             <i class="fas fa-car-side fa-2x" style="color:#bababa"></i>
            <div class="options">Taki super kurier, że szok</div>
          </div>
          <div class="infodiv">
             <i class="fas fa-calendar-alt fa-2x" style="color:#bababa"></i>
            <div class="options">4 dni, w porywach 10</div>
          </div>
          <div class="infodivbottom">
              <i class="fa fa-dollar-sign fa-2x" style="color:#bababa"></i>
            <div class="options">420 zł</div>
          </div>
        </div>
        <div class="wrapperdiv">
        </div>
      </div>
      <div class="rightdivk">
        <a href="#" class="link-block w-inline-block">
          <div>Allegro miniKurier24 in Post</div>
          <div>CENA: 4,99</div>
        </a>
        <a href="#" class="link-blocknotavaliable w-inline-block">
          <div>Przesyłka kurierska</div>
          <div>CENA: 5,00</div>
        </a>
        <a href="#" class="link-block w-inline-block">
          <div>Przesyłka kurierska pobranie</div>
          <div>CENA: 15,99</div>
        </a>
        <a href="#" class="link-blockbottom w-inline-block">
          <div>Odbiór osobisty</div>
          <div>CENA: Tylko twoja duma, biedaku</div>
        </a>
      </div>
    </div>
  </div>
</div>
