<div class="section">
  <div class="hero">
    <div class="centerdivk">
      <div class="leftdivk">
        <div class="div-block-3">
          <img
            src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg"
            width="25"
            alt=""
          /><a href="#" class="link">Wróć do rekomendowanych</a>
        </div>
        <h1 class="heading">Rekomendowany kurier</h1>
        <div class="infodisplaydiv">
          <div class="infodiv">
            <img
              src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg"
              width="50"
              height="50"
              alt=""
            />
            <div class="options">Taki super kurier, że szok</div>
          </div>
          <div class="infodiv">
            <img
              src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg"
              width="50"
              height="50"
              alt=""
            />
            <div class="options">4 dni, w porywach 10</div>
          </div>
          <div class="infodivbottom">
            <img
              src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg"
              width="50"
              height="50"
              alt=""
            />
            <div class="options">420 zł</div>
          </div>
        </div>
        <div class="wrapperdiv">
          <a
            data-w-id="9e696bd3-e226-53ec-2368-e699709f1a28"
            href="#"
            class="button w-button"
            >Kiedy spodziewać się paczki?</a
          >
          <div
            data-w-id="c2d1e5e9-387b-06c7-8c29-b5867c71a3fb"
            style="height:0PX"
            class="contentdiv"
          >
            <p class="paragraph">Pon<br />10-23<br /></p>
            <p class="paragraph">Wt<br />10-23<br /></p>
            <p class="paragraph">Śr<br />10-23<br /></p>
            <p class="paragraph">C<br />‍10-23<br /></p>
            <p class="paragraph">P<br />‍10-23<br /></p>
            <p class="paragraph">Sb<br />10-23<br /></p>
            <p class="paragraph">Pon<br />10-23<br /></p>
          </div>
        </div>
      </div>
      <div class="rightdivk">
        <a href="#" class="link-block w-inline-block">
          <div>Allegro miniKurier24 in Post</div>
          <div>CENA: 4,99</div>
        </a>
        <a href="#" class="link-blocknotavaliable w-inline-block">
          <div>Przesyłka kurierska</div>
          <div>CENA: 5,00</div>
        </a>
        <a href="#" class="link-block w-inline-block">
          <div>Przesyłka kurierska pobranie</div>
          <div>CENA: 15,99</div>
        </a>
        <a href="#" class="link-blockbottom w-inline-block">
          <div>Odbiór osobisty</div>
          <div>CENA: Tylko twoja duma, biedaku</div>
        </a>
      </div>
    </div>
  </div>
</div>
