.hero-container {
  max-width: 1400px;
  padding: 0 50px;
  margin: 0 auto;
}

.w-form {
  margin-top: 20px;
  width: 350px;
}

/* .buttonbigchoice::after {
  content: "(rekomendowane)";
} */

.recommended {
  margin-top: -40px;
  color: #ff5a00;
}

.recommended.moved {
  margin-left: 180px;
}
